<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haso.common.quartz.mapper.AbstractJobMapper">

    <insert id="addRunningJob" parameterType="com.haso.common.system.vo.QuartzEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into qrtz_running_jobs(sched_name, job_name, job_group, create_time, exec_sort)
        values(#{schedName}, #{jobName}, #{jobGroup}, #{createTime}, #{execSort})
    </insert>

    <select id="searchRJobByGroupName" resultType="java.util.Map" parameterType="com.haso.common.system.vo.QuartzEntity">
        select * from qrtz_running_jobs where job_group = #{jobGroup} and exec_sort != -1
        <if test="execSort != null and execSort !=''">
            and exec_sort &lt; #{execSort}
        </if>
    </select>

    <delete id="deleteById">
        delete from qrtz_running_jobs where id = #{id}
    </delete>

    <delete id="deleteAll">
        truncate table qrtz_running_jobs
    </delete>

    <insert id="addErrorMessage" parameterType="com.haso.common.system.vo.QuartzErrorEntity" useGeneratedKeys="true" keyProperty="no" keyColumn="no">
        insert into qrtz_error(jobgroup, jobname, errortime, status_flg,errormsg)
        values(#{jobGroup}, #{jobName}, #{errorTime}, #{statusFlg},#{errorMsg})
    </insert>

</mapper>