<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haso.system.mapper.SysErrLogMapper">

    <!-- 清空所有日志记录 -->
    <delete id="removeAll">
		DELETE FROM sys_log
	</delete>
</mapper>
